.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 500px;
  margin: 20vh auto;
  box-shadow:
    0 4.5px 3.6px rgba(0, 0, 0, 0.01),
    0 12.5px 10px rgba(0, 0, 0, 0.023),
    0 30.1px 24.1px rgba(0, 0, 0, 0.039),
    0 100px 80px rgba(0, 0, 0, 0.07);
}